.body {
  font-family: Arial, sans-serif;
  text-align: center; 
  background-color: rgb(35, 36, 42) ;
}
.scoreboard {
  box-shadow: 0 0 15px   rgba(255, 193, 7, 0.463) !important; /* Soft yellow glow */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 125px);
  grid-template-rows: repeat(3, 125px);
  gap: 6px;
  font-weight: 900;
}
.cell {
 
  color: rgb(255, 255, 255);
  width: 125px;
  height: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  background-color: #f0f0f0;
  cursor: pointer;
  border: 15px solid rgb(49, 50, 50);
  box-shadow: 0px 0px  20px 10px rgb(11, 11, 11);
  background-color: rgb(35, 36, 42) ;
  
}
.cell:hover {
  background-color: rgb(19, 20, 23); 
}
.message {
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: 800;
  color: white;
}
.reset {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  background-color:rgb(74, 135, 226);
  color: white;
  border-radius: 5px;
  margin-top: 50px;
}
.reset:hover {
  background-color: rgb(36, 65, 108);
}
.winning-cell {
  color: rgb(74, 135, 226);
}
